@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        left: -7px;
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        
    }
}
@mixin before_circle-small {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background: $main-color;
        border-radius: 100%;      
    }
}
